@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border; /* Ensure border-border is defined in your Tailwind config */
    scroll-behavior: smooth; /* Use the scroll-behavior property directly */
  }
  body {
    @apply bg-background text-foreground; /* Ensure these classes are defined in your Tailwind config */
  }
  button {
    @apply active:outline-none;
  }
}

@layer utilities {
  .heading {
    @apply font-bold text-4xl md:text-5xl text-center;
  }

  .black-gradient {
    @apply bg-gradient-to-b from-background to-transparent;
  }
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
  margin: 0;
  padding: 0;
}